# PostgreSQL
POSTGRES_USER=your_user
POSTGRES_PASSWORD=your_password
POSTGRES_DB=financial_db
POSTGRES_HOST=localhost
POSTGRES_PORT=5433

# Airflow
AIRFLOW_UID=50000
_AIRFLOW_WWW_USER_USERNAME=admin
_AIRFLOW_WWW_USER_PASSWORD=your_password

# ETL Config
TICKER=GOOGL
PERIOD=2y
